<header class="col-md-12">
  <h1>Welcome to Anagram Sleuth</h1>
  <p>A simple way to site to generate list of anagrams from given words or letters.</p>
</header>

<article id="words_group" class="col-md-12">
  <h3>Words or Letters</h3>
  <p>You can enter letters or set of words here and I'll return all the words that I know of that are contained within</p>
  <form onsubmit="return doWordSearch()" class="form-horizontal">
    <div id="word_alert" class="alert alert-danger col-sm-12 hidden">
      <span class="glyphicon glyphicon-alert" style="padding-right: 1em"></span>
      <span id="word_alert_msg">Some error text</span>
    </div>
    <div id="words_form_group" class="form-group">
      <label class="col-sm-2 control-label" for="words">Source String:</label>
      <div class="col-sm-10">
        <input class="form-control" id="words" type="text" placeholder="eg. Anagram" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</article>

<article id="numbers_group" class="col-md-12">
  <h3>Countdown Style Numbers Game</h3>
  <p>
    Enter a series of numbers here and I'll try and come up with a formula that'll use basic numeric operations (+,-,&times;,&divide;) to combine the source numbers and produce the target.  For example, as per the numbers game in countdown.
  </p>
  <p>
    The source numbers and the target number must be integer values.
  </p>
  <form onsubmit="return doNumbers()" class="form-horizontal">
    <div id="number_alert" class="alert alert-danger col-sm-12 hidden">
      <span class="glyphicon glyphicon-alert" style="padding-right: 1em"></span>
      <span id="number_alert_msg">Some error text</span>
    </div>
    <div id="numsrc_form_group" class="form-group">
      <label class="col-sm-2 control-label" for="words">Source Numbers:</label>
      <div class="col-sm-10">
        <input class="form-control" id="numbers" type="text" placeholder="eg. 1,2,3,4,5,6" class="form-control"/>
      </div>
    </div>
    <div id="target_form_group" class="form-group">
      <label class="col-sm-2 control-label" for="words">Target:</label>
      <div class="col-sm-10">
        <input class="form-control" id="target" type="text" placeholder="eg. 123" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</article>

<script type="text/javascript" src="/js/index.js"></script>
